.Nav-header {
    text-align: center;
    width: calc(100% + 1px);
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  #navbar {
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 1.5vmin);
    color: white;
    min-height: 35px;
  }
  
  #navbar > li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .home {
    order: 1;
    margin-left: 2em;
  }
  
  .search {
    order: 2;
    flex: 1;
  }

  .search > input {
    width: 70%;
  }
  
  .sign.in {
    order: 3;
    margin-left: auto;
  }
  .sign.out {
    order: 4;
    margin-left: 0.5em;
    margin-right: 2em;
  }
  
  @media all and (max-width: 500px) {
    #navbar {
      flex-wrap: wrap;
      justify-content: center;
      font-size: 1.2em;
    }
  
    #navbar > li {
      flex-basis: 100%;
      margin: auto;
      height: 2em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  
    #navbar > .sign {
      flex-basis: 50%;
      text-align: center;
      max-width: 10em;
      margin: 0;
    }
  
    #navbar > .search >input {
      height: 1.5em;
      width: 60%;
    }
    
  }