#content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#news {
    display: flex;
    flex-direction: column;
    align-self: center;
}

#newPostContainer {
    display: flex;
    flex: 1;
    margin: 10px 15vw 10px 15vw;    
}

#newPost {
    flex: 1;
}

.article {
    background-color: salmon;
    margin-bottom: 10px;
}

.text {
    max-width: 46em;
}